<?xml version="1.0"?>

<!-- storageContext="Database":     Stores files into a database -->
<!-- filesUrlPattern="{backload}":  Use Backload to download files (Valid settings: {backload}) -->
<!-- thumbsUrlPattern="{base64}":   Load thumbnails as data URL (Valid settings: {backload}), {base64}), {none} -->
<backload storageContext="Database" filesUrlPattern="{backload}" thumbsUrlPattern="{base64}"  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="Config\Web.Backload.xsd">

  <!-- Example 03: Custom data model example. -->
  <database tableName="Files3" storageMode="Internal" />

  <!-- Image processing in .NET Core is in beta state. It must be enabled here explicitly -->
  <thumbnails resizeMode="fit" width="80" height="60" />

</backload>
