@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"><![endif]-->
    <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Basic Plus Theme</title>


    <!-- Bootstrap styles -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />

    <!-- jQquery File Upload Plugin styles -->
    <link href="~/Backload/Client/blueimp/bundles/css/jquery.fileupload.bundle.min.css" rel="stylesheet" />


    <!-- The main application styles -->
    <link href="~/Content/demo.styles.css" rel="stylesheet" />

</head>
<body>
    <div class="container">
        <h1>jQuery File Upload Demo</h1>
        <h2 class="lead">Basic Plus theme</h2>
        <ul class="nav nav-tabs">
            <li><a href="/home/basic">Basic</a></li>
            <li class=active><a href="/home/basicplus">Basic Plus</a></li>
            <li><a href="/home/basicplusui">Basic Plus UI</a></li>
            <li><a href="/home/angularjs">AngularJS</a></li>
            <li><a href="/home/jqueryui">jQuery UI</a></li>
        </ul>
        <br>

        <!-- Start of the render section -->
        <div class="container">
            <br>
            <blockquote>
                <p>
                    File Upload widget with multiple file selection, drag&amp;drop support, progress bar, validation and preview images, audio and video for jQuery.
                    Supports cross-domain, chunked and resumable file uploads and client-side image resizing.
                </p>
            </blockquote>
            <br>
            <!-- The fileinput-button span is used to style the file input field as button -->
            <span class="btn btn-success fileinput-button">
                <i class="glyphicon glyphicon-plus"></i>
                <span>Add files...</span>
                <!-- The file input field used as target for the file upload widget -->
                <input id="fileupload" type="file" name="files[]" multiple>
            </span>
            <br>
            <br>
            <!-- The global progress bar -->
            <div id="progress" class="progress">
                <div class="progress-bar progress-bar-success"></div>
            </div>
            <!-- The container for the uploaded files -->
            <div id="files" class="files"></div>
            <br>
        </div>
        <!-- End of the render section -->

        <br>
    </div>


    <!-- jQuery and Bootstrap script files -->
    <script src="~/Scripts/jquery-1.12.3.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>

    <!-- jQquery File Upload Plugin script bundle (BasicPlus theme) -->
    <script src="~/Backload/Client/blueimp/bundles/js/jquery.fileupload.basicplus.min.js"></script>


    <!-- The demo application script -->
    <script src="~/Scripts/demos.blueimp.basicplus.js"></script>

</body>
</html>