<?xml version="1.0"?>
<!-- eventing="true":               Enable server side events-->
<!-- storageContext="Database":     Stores files into a database -->
<!-- filesUrlPattern="{backload}":  Use Backload to download files (Valid settings: {backload}) -->
<!-- thumbsUrlPattern="{base64}":   Load thumbnails as data URL (Valid settings: {backload}), {base64}), {none} -->
<backload eventing="true" storageContext="Database" filesUrlPattern="{backload}" thumbsUrlPattern="{base64}"  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="Config\Web.Backload.xsd">

  <!-- Example 04: Custom data model example. Passes custom data (file description) from the website into the database -->
  <database tableName="Files4" storageMode="Internal" />

  <!-- Image processing in .NET Core is in beta state. It must be enabled here explicitly -->
  <thumbnails resizeMode="fit" width="80" height="60" />

</backload>
