<?xml version="1.0"?>

<!-- To enable cloud storage set storageContext="CloudStorage" -->
<!-- Demo: Eventing enabled for events demo only -->
<backload storageContext="CloudStorage" eventing="true" tracing="false" xsi:noNamespaceSchemaLocation="Config\Web.Backload.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:name="urn:backload-schema">

  <!-- Cloud settings. Set service provider to Azure Blob storage -->
  <cloudStorage serviceProvider="AzureBlobStorage">
    <!-- IMPORTANT NOTE: In this developer package connection strings are stored in appsettings.json and read in Startup.cs -->
    <!-- Set name of the upload container and connection string or use the defaults -->
    <!-- connectionString settings: 
            [not set]:                     Backload looks for the connectionstring "StorageConnectionString" in Azure service definition file (.cscfg) or Web.config
            connectionString="":           Internally resolved to "UseDevelopmentStorage=true". Uses the storage emulator
            connectionString="[mystring]"  Backload looks for a custom connectionstring name in the Azure service definition file (.cscfg) or in Web.config   -->
    <azureBlobStorage uploadContainer="uploads" connectionString="UseDevelopmentStorage=true" />
  </cloudStorage>

  <!-- Image processing in .NET Core is in alpha state. It must be enabled here explicitly. If you encounter problems, remove this line -->
  <thumbnails resizeMode="fit" width="80" height="60" />

</backload>